[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
camelot-py = {extras = ["cv"],version = "*"}
install = "*"
japanize-matplotlib = "*"
pdfminer-six = "*"
pypdf2 = "*"
tika = "*"
pyocr = "*"
autoviz = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
pillow = "*"
ipython = {extras = ["all"],version = "*"}
jupyter = "*"
xlrd = "*"
statsmodels = "*"
xgboost = "*"

[requires]
python_version = "3.7"

[scripts]
cmd = 'python ./main.py'
notebook = 'jupyter notebook'
