click==7.1.2
decorator==4.4.2
fastapi==0.55.1
h11==0.9.0
httptools==0.1.1
joblib==0.15.1
mypy==0.780
mypy-extensions==0.4.3
networkx==2.4
numpy==1.18.4
pandas==1.0.4
PuLP==2.1
pydantic==1.5.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
starlette==0.25.0
threadpoolctl==2.1.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
uvicorn==0.11.5
uvloop==0.14.0
websockets==8.1
xgboost==1.1.0
